@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    max-height: 200px;
    width: auto;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.countdown {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    min-width: 200px;
}

.poster-container {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.poster-scroll {
    display: flex;
    animation: scroll 60s linear infinite;
    width: max-content;
    
}

.poster {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
}

.back-button,
.twitter-button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10%;
    transition: background-color 0.3s;
}

.back-button:hover,
.twitter-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    .countdown-container {
        flex-direction: column;
    }

    .countdown {
        width: 100%;
    }

    .poster {
        width: 150px;
    }
}